<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
    <head th:fragment="header-css">
        <!-- this is header-css -->
        <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}" />
        <link rel="stylesheet" th:href="@{/css/style.css}"/>
        <link rel="stylesheet" th:href="@{/css/main.css}"/>
    </head>
<body>
<div th:fragment="header" class="fix-header">

        <!-- this is header -->
        <nav class="navbar navbar-inverse">
            <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand green-text" th:href="@{/}">facSchedule</a>
            </div>
            <div id="navbar" class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li> <a th:href="@{/}">Home</a></li>
                    <li sec:authorize="hasAuthority('ADMIN')"><a th:href="@{/deanery}">DeaneryUI</a></li>
                    <li sec:authorize="hasAuthority('ADMIN')"><a th:href="@{/deaneryAdd}">DeaneryAdd</a></li>
                    <li sec:authorize="hasAuthority('STUDENT')"><a th:href="@{/enroll}">EnrollToGroups</a></li>
                    <li sec:authorize="hasAuthority('STUDENT')"><a th:href="@{/schedule}">Schedule</a></li>
                </ul>
            </div>
            </div>
        </nav>


</div>

</body>
</html>