
.page-header {
    color: #606060;
}
.page-header h1{
    color: #606060;
}

.working-form {
    font-size: 1.2rem;
    padding: 15px;
    border: 2px solid #606060;
    color: #606060;
}

.input-field {
    padding: 5px 15px;
}

.button-form-submit {
    padding: 5px 15px;
    background-color: #262626;
    color: #efefef;
}

.working-form div {
    margin: 10px 0;
}
.working-form h3 {
    margin: 5px 0;
}

form {
    margin-bottom: 15px;
}

.green-text {
    color: #229F0E !important;
}

.grey-block {
    background-color: #9B9B9B;
}
.dark-grey-header {
    background-color: #6B6B6B;
    text-align: center;
    padding: 15px 0;
    color:#FFFFFF;
}

.schedule-day{
    padding: 15px;
    margin: 3px 0;
    background-color: rgba(40, 238, 6, 0.08);
    border: 2px solid rgba(40, 238, 6, 0.34);
    min-width: 200px;
}
.schedule-day div {
    padding: 10px;
    margin: 1px 0;
    background-color: rgba(40, 238, 6, 0.08);
    border: 1px solid rgba(40, 238, 6, 0.34);
}

.schedule-container {
    display: flex;
    justify-content: flex-start;
}
.save-group-button {
    padding: 10px 15px;
    background-color: #262626;
    color: #fff;
    margin-left: 5px;
}
.container-enroll-line {
    border: 1px solid #0e3f07;
    width: fit-content;
    padding: 15px;
    margin: 5px 0;
}
.container-enroll-line select{
    padding: 15px;
}

.enroll-subject-name-header {
    font-size: 1.2em;
    color: #262626;
    text-shadow: 0 0 1px #262626;
    margin-bottom: 15px;
    text-align: center;
}