
.page-header {
    color: #606060;
}
.page-header h1{
    color: #606060;
}

.working-form {
    font-size: 1.2rem;
    padding: 15px;
    border: 2px solid #606060;
    color: #606060;
}

.input-field {
    padding: 5px 15px;
}

.button-form-submit {
    padding: 5px 15px;
    background-color: #262626;
    color: #efefef;
}

.working-form div {
    margin: 10px 0;
}
.working-form h3 {
    margin: 5px 0;
}

form {
    margin-bottom: 15px;
}

.green-text {
    color: #229F0E !important;
}

.grey-block {
    background-color: #9B9B9B;
}
.dark-grey-header {
    background-color: #6B6B6B;
    text-align: center;
    padding: 15px 0;
    color:#FFFFFF;
}