<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <script type="module" th:src="@{/js/deanery.js}"></script>
<!--    <script type="module" th:src="@{/js/listeners.js}"></script>-->
    <script type="module" th:src="@{/js/templates.js}"></script>
    <div th:replace="fragments/header :: header-css"></div>
</head>
<body>
<div th:replace="fragments/header :: header"></div>
<div class="container">
        <h3>
            DEANERY CONTROLLER UI
        </h3>

    <section class="deanery-user-interface">
        <div class="university-tree grey-block">
            <header class="dark-grey-header">
                FACULTY TREE
            </header>
            <div class="all-items-list">

                <ul class="specialities-professors-ul">
                    <li class="professors"> Professors
                        <ul class="professors-ul">
                            <li class="professors-list-item">
                                Glybovets
                            </li>
                            <li class="professors-list-item">
                                Yaremko
                            </li>
                            <li class="professors-list-item">
                                Bublik
                            </li>
                        </ul>
                    </li>
                    <li class="specialities"> Specialities
                        <ul class="specialities-ul">
                            <li class="speciality-list-item">
                                IPZ
                                    <li class="students-list-item">
                                        Students
                                        <ul class="students-ul">
                                            <li class="students-list-item">
                                                Student 1
                                            </li>
                                            <li class="students-list-item">
                                                Student 2
                                            </li>
                                            <li class="students-list-item">
                                                Student 3
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="subjects-list-item">
                                        Subjects
                                        <ul class="subjects-ul">
                                            <li class="subjects-list-item">
                                                Subject 1
                                            </li>
                                            <li class="subjects-list-item">
                                                Subject 2
                                            </li>
                                            <li class="subjects-list-item">
                                                Groups
                                                <ul class="group-subjects-ul">
                                                <li class="group-subjects-list-item">
                                                    SubjectGroup 1
                                                </li>
                                                <li class="group-subjects-list-item">
                                                    SubjectGroup 2
                                                </li>
                                                <li class="group-subjects-list-item">
                                                    SubjectGroup 3
                                                </li>
                                            </ul>
                                            </li>
                                        </ul>
                                    </li>
                            </li>
                            <li class="speciality-list-item">
                                Computer Science
                            </li>
                            <li class="speciality-list-item">
                                IPZ3
                            </li>
                        </ul>
                    </li>

                </ul>

            </div>
        </div>
        <div class="crud-screen grey-block">
            <header class="dark-grey-header">
                CRUD SCREEN
            </header>
            <div id="crud">
                <form class="working-form speciality-edit" style="display:none;">
                    <h3> Edit speciality </h3>
                    <div>
                        <label> Speciality Name: <br>
                            <input class="speciality-name-input input-field" type="text">
                        </label>
                    </div>

                    <div>
                        <button class="button-form-submit-speciality-edit button-form-submit" type="button"> CREATE </button>
                    </div>
                </form>
                <form class="working-form subject-edit" style="display:none;">
                    <h3> Edit subject </h3>
                    <div>
                        <label> Subject Name: <br>
                            <input class="name-input input-field" type="text">
                        </label>
                    </div>
                    <div>
                        <label> Subject Course: <br>
                            <input class="course-input input-field" type="number"  min="1" max="6">
                        </label>
                    </div>
                    <div>
                        <button class="button-form-submit-subject button-form-submit" type="button"> CREATE </button>
                    </div>
                </form>
                <!--<form class="working-form add-professor-crud">
                    <h3> Edit professor </h3>
                    <div>
                        <label> Professor name: <br>
                            <input class="professor-name-input input-field" type="text">
                        </label>
                    </div>
                    <div>
                        <button class="button-form-submit-professor button-form-submit" type="button"> ADD </button>
                    </div>
                </form>-->
            </div>
        </div>


    </section>
    <button class="gen-schedule green-button">
        GENERATE SCHEDULE
    </button>
    <div th:replace="fragments/footer :: footer"></div>

</div>


</body>
</html>