<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <script type="module" th:src="@{/js/app.js}"></script>
    <script type="module" th:src="@{/js/listeners.js}"></script>
    <script type="module" th:src="@{/js/templates.js}"></script>
</head>
<body>
<div class="container">
    <header class="page-header">
        <h1>
            FACULTY.SCHEDULER
        </h1>
    </header>

    <section class="section-page">
        <form class="working-form">
            <h3> Add subject to speciality </h3>
            <div>
                <label>Choose a speciality:
                    <br>
                    <select class="specialities input-field" name="specialities">
                    </select>
                </label>
            </div>
            <div>
                <label> Subject Name: <br>
                    <input class="name-input input-field" type="text">
                </label>
            </div>
            <div>
                <label> Subject Course: <br>
                    <input class="course-input input-field" type="number"  min="1" max="6">
                </label>
            </div>
            <div>
                <button class="button-form-submit-subject button-form-submit" type="button"> CREATE </button>
            </div>
        </form>

        <form class="working-form">
            <h3> Add student </h3>
            <div>
                <label> Student name: <br>
                    <input class="student-name-input input-field" type="text">
                </label>
            </div>
            <div>
                <label>Choose student speciality:
                    <br>
                    <select id="student-speciality" class="specialities input-field" name="specialities">
                    </select>
                </label>
            </div>
            <div>
                <label> Student login: <br>
                    <input class="student-login-input input-field" type="text">
                </label>
            </div>
            <div>
                <label> Student password: <br>
                    <input class="student-password-input input-field" type="password">
                </label>
            </div>
            <div>
                <button class="button-form-submit-student button-form-submit" type="button"> ADD </button>
            </div>
        </form>

        <form class="working-form">
            <h3> Add professor </h3>
            <div>
                <label> Professor name: <br>
                    <input class="professor-name-input input-field" type="text">
                </label>
            </div>
            <div>
                <label> Professor login: <br>
                    <input class="professor-login-input input-field" type="text">
                </label>
            </div>
            <div>
                <label> Professor password: <br>
                    <input class="professor-password-input input-field" type="password">
                </label>
            </div>
            <div>
                <button class="button-form-submit-professor button-form-submit" type="button"> ADD </button>
            </div>
        </form>

        <form class="working-form">
            <h3> Add group to subject </h3>
            <div>
                <label>Choose a speciality:
                <br>
                <select class="specialities specialities-pick-group input-field"  name="specialities">
                </select>
                </label>
            </div>
            <div>
                <label> Choose a subject: <br>
                    <select class="subjects-list input-field" name="subjects-list">
                    </select>
                </label>
            </div>
            <div>
                <label> Choose a professor: <br>
                    <select class="professor-list input-field" name="professor-list">
                    </select>
                </label>
            </div>
            <div>
                <label> Create group with name: <br>
                    <input class="group-name-input input-field" type="text">
                </label>
            </div>
            <div>
                <button class="button-form-submit-group button-form-submit" type="button"> CREATE </button>
            </div>
        </form>

    </section>

    <footer class="page-footer">

    </footer>

</div>


</body>
</html>