<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <div th:replace="fragments/header :: header-css"></div>

    <link rel="stylesheet" th:href="@{/css/style.css}">

    <script type="module" th:src="@{/js/schedule.js}"></script>
</head>
<body>
<div th:replace="fragments/header :: header"></div>

<input type="hidden" class="hidden-spec-id" th:value="${student.getSpeciality().getIdSpeciality()}" />
<div class="container">

    <div class="schedule-day" >
        <p th:each="message: ${studService.getClassesForDay(student.getId(),0)}" th:text="${message}"></p>
    </div>
    <div class="schedule-day">
        <p th:each="message: ${studService.getClassesForDay(student.getId(),1)}" th:text="${message}"></p>
    </div>
    <div class="schedule-day">
        <p th:each="message: ${studService.getClassesForDay(student.getId(),2)}" th:text="${message}"></p>
    </div>
    <div class="schedule-day" >
        <p th:each="message: ${studService.getClassesForDay(student.getId(),3)}" th:text="${message}"></p>
    </div>
    <div class="schedule-day" >
        <p th:each="message: ${studService.getClassesForDay(student.getId(),4)}" th:text="${message}"></p>
    </div>
    <div class="schedule-day">
        <p th:each="message: ${studService.getClassesForDay(student.getId(),5)}" th:text="${message}"></p>
    </div>
    <div class="schedule-day">
        <p th:each="message: ${studService.getClassesForDay(student.getId(),6)}" th:text="${message}"></p>
    </div>
</div>
<!-- /.container -->
<div th:replace="fragments/footer :: footer"></div>

</body>
</html>





<!--

    <details id="day1" >
        <summary> Today </summary>
        <div> 1 </div>
        <div> 1 </div>
        <div> 1 </div>
        <div> 1 </div>
        <div> 1 </div>
    </details>

    <details id="day2" class="schedule-day">
        <summary> Today </summary>
        <div> 1 </div>
        <div> 1 </div>
        <div> 1 </div>
        <div> 1 </div>
        <div> 1 </div>
    </details>

    <details id="day3" class="schedule-day">
        <summary> Today </summary>
        <div> 1 </div>
        <div> 1 </div>
        <div> 1 </div>
        <div> 1 </div>
        <div> 1 </div>
    </details>

    <details id="day4" class="schedule-day">
        <summary> Today </summary>
        <div> 1 </div>
        <div> 1 </div>
        <div> 1 </div>
        <div> 1 </div>
        <div> 1 </div>
    </details>

    <details id="day5" class="schedule-day">
        <summary> Today </summary>
        <div> 1 </div>
        <div> 1 </div>
        <div> 1 </div>
        <div> 1 </div>
        <div> 1 </div>
    </details>

    <details id="day6" class="schedule-day">
        <summary> Today </summary>
        <div> 1 </div>
        <div> 1 </div>
        <div> 1 </div>
        <div> 1 </div>
        <div> 1 </div>
    </details>

    <details id="day7" class="schedule-day">
        <summary> Today </summary>
        <div> 1 </div>
        <div> 1 </div>
        <div> 1 </div>
        <div> 1 </div>
        <div> 1 </div>
    </details>

 -->