<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <div th:replace="fragments/header :: header-css"></div>

    <link rel="stylesheet" th:href="@{/css/style.css}">

    <script type="module" th:src="@{/js/schedule.js}"></script>
</head>
<body>
<div th:replace="fragments/header :: header"></div>

<div class="container">
<span  th:text="${currentUser.getId()}"/>
<span  th:text="${role}"/>
<span  th:text="${id}"/>
    <details id="day1" class="schedule-day">
        <summary> Today </summary>
        <div> 1 </div>
        <div> 1 </div>
        <div> 1 </div>
        <div> 1 </div>
        <div> 1 </div>
    </details>

    <details id="day2" class="schedule-day">
        <summary> Today </summary>
        <div> 1 </div>
        <div> 1 </div>
        <div> 1 </div>
        <div> 1 </div>
        <div> 1 </div>
    </details>

    <details id="day3" class="schedule-day">
        <summary> Today </summary>
        <div> 1 </div>
        <div> 1 </div>
        <div> 1 </div>
        <div> 1 </div>
        <div> 1 </div>
    </details>

    <details id="day4" class="schedule-day">
        <summary> Today </summary>
        <div> 1 </div>
        <div> 1 </div>
        <div> 1 </div>
        <div> 1 </div>
        <div> 1 </div>
    </details>

    <details id="day5" class="schedule-day">
        <summary> Today </summary>
        <div> 1 </div>
        <div> 1 </div>
        <div> 1 </div>
        <div> 1 </div>
        <div> 1 </div>
    </details>

    <details id="day6" class="schedule-day">
        <summary> Today </summary>
        <div> 1 </div>
        <div> 1 </div>
        <div> 1 </div>
        <div> 1 </div>
        <div> 1 </div>
    </details>

    <details id="day7" class="schedule-day">
        <summary> Today </summary>
        <div> 1 </div>
        <div> 1 </div>
        <div> 1 </div>
        <div> 1 </div>
        <div> 1 </div>
    </details>

</div>
<!-- /.container -->
<div th:replace="fragments/footer :: footer"></div>

</body>
</html>